option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "wyndo.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "wyndo.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true

files:
  /etc/tmpfiles.d/celery_logs.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      d /var/log/celery 0755 root root
      d /var/run/celery/ 0755 root root
  
  /etc/default/celeryd:
    mode: "000755"
    owner: root
    group: root
    content: |
      CELERY_APP="wyndo"
      CELERY_DATABASE = "django_celery_beat.schedulers:DatabaseScheduler"
      CELERYD_LOG_FILE="/var/log/celery/%n%I.log"
      CELERYD_PID_FILE="/var/run/celery/%n.pid"
      CELERYD_LOG_LEVEL=INFO
      CELERY_BIN=/var/app/venv/*/bin/celery
      CELERYBEAT_PID_FILE=/var/run/celery/beat.pid
      CELERYBEAT_LOG_FILE=/var/log/celery/beat.log

  /etc/systemd/system/celery_worker.service:
    mode: "000755"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Celery Worker Service
      After=network.target

      [Service]
      User=root
      Group=root
      EnvironmentFile=/etc/default/celeryd
      WorkingDirectory=/var/app/current
      ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} worker --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

      [Install]
      WantedBy=multi-user.target
        
  /etc/systemd/system/celery_beat.service:
      mode: "000755"
      owner: root
      group: root
      content: |
        [Unit]
        Description=Celery Beat Service
        After=network.target

        [Service]
        User=root
        Group=root
        EnvironmentFile=/etc/default/celeryd
        WorkingDirectory=/var/app/current
        ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} beat --scheduler ${CELERY_DATABASE} --pidfile=${CELERYBEAT_PID_FILE} --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

        [Install]
        WantedBy=multi-user.target

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput --merge"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  05_logdir:
    command: sudo systemd-tmpfiles --create
    ignoreErrors: true
  06_reload_settings:
    command: systemctl daemon-reload
  07_loaddata:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata articles.json categories.json"
    leader_only: true
