{% extends "layouts/_base.html" %}
{% load custom_filters %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock %}

{% block container %}
<div class="flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center pb-3 pr-4 lg:pl-4 w-full">
    <div class="relative w-full">
        <div class="absolute z-10 lg:-top-[5px] right-0 -top-1 lg:left-[340px] xl:left-[595px] sm:w-[600px]">
            <div class="flex justify-end w-full">{% include "components/alert.html" with messages=messages %}</div>
        </div>
    </div>
</div>
<div class="sticky top-0 z-[5] w-full bg-neutral-100">
    <div class="max-w-7xl mx-auto py-4 mb-2 px-4 sm:px-11 xl:px-10">
        <div class="flex items-center justify-between">
            <div class="text-sm flex gap-1 items-center font-normal no-underline">
                <a href="{% url 'index' %}" class="text-neutral-400 hover:text-neutral-800 hover:underline">Home</a>
                <span class="material-icons-outlined text-neutral-400">
                    chevron_right
                </span>
                <span class="text-neutral-800">
                    Upcoming Reservation
                </span>
            </div>
            <div class="hidden sm:block">
                <a href="{% url 'index' %}"
                    class="border border-w-primary text-w-primary btn-block text-sm font-semibold rounded-lg capitalize h-10 px-9 py-2.5">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto mb-2 min-h-max lg:mt-6">
    <div class="grid grid-cols-4 sm:gap-6 sm:grid-cols-8 lg:grid-cols-12 px-4 sm:px-11 lg:px-10 xl:px-9">
        <div class="col-span-4 lg:col-span-8 lg:h-fit">
            <swiper-container
                class="select-none bg-white border border-w-light-gray rounded-xl px-14 xl:px-32 mb-4 h-[230px] md:h-[210px] lg:h-[440px] xl:h-[500px]"
                init="false" id="product-gallery">
            </swiper-container>
            <div class="select-none flex items-center justify-center gap-2 lg:px-8">
                <span class="material-icons cursor-pointer opacity-50 text-neutral-800 w-full text-end"
                    id="prev-button-product-gallery">
                    chevron_left
                </span>
                <swiper-container class="select-none w-52 lg:w-[78%] xl:w-[95%] gallery-thumbs" init="false"
                    id="product-gallery-thumbs">
                </swiper-container>
                <span class="material-icons cursor-pointer text-neutral-800 w-full opacity-50"
                    id="next-button-product-gallery">
                    chevron_right
                </span>
            </div>
            <div class="border border-w-light-gray bg-white p-4 lg:p-6 text-neutral-800 rounded-xl my-6">
                <div
                    class="flex items-center justify-between {% if reservation.variant.description|length > 0 %} border-b border-w-light-gray pb-4 {% endif %}">
                    <span class="text-2xl font-medium" id="product_name_2">
                        {% if reservation.variant.product.variants.all|length == 1 %}
                        {{ reservation.variant.product.name }}
                        {% else %}
                        {{ reservation.variant.name }}
                        {% endif %}
                    </span>
                </div>
                {% if reservation.variant.description|length > 0 %}
                <div class="flex flex-col gap-4 pt-4">
                    <span class="font-medium text-base">
                        Description
                    </span>
                    <span class="font-normal text-sm" id="description">
                        {{ reservation.variant.description }}
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-span-4 sm:col-start-5 sm:col-span-4 lg:col-start-9 lg:col-span-4 lg:h-fit">
            {% if "-" not in reservation.time_limit|minutes_until_datetime %}
            <div class="rounded-xl bg-w-indigo text-white font-medium p-6 mb-6 sm:mb-4" id="countdown">
                <div class="flex items-center justify-center gap-2">
                    <span class="material-icons-outlined">
                        schedule
                    </span>
                    <div>
                        <span class="text-2xl" id="minutes">
                            00
                        </span>
                        <span class="text-sm">minutes</span>
                    </div>
                    <div>
                        <span class="text-2xl" id="seconds">
                            00
                        </span>
                        <span class="text-sm">sec</span>
                    </div>
                    <span class="text-2xl">left</span>
                </div>
            </div>
            {% else %}
            <div class="rounded-xl bg-w-dark-gray text-white font-medium p-6 mb-4 {% if '-' not in reservation.time_limit|minutes_until_datetime %}hidden{% endif %}"
                id="expired">
                <div class="flex items-center justify-center gap-2">
                    <span class="material-icons-outlined">
                        schedule
                    </span>
                    <span class="text-2xl">
                        Expired reservation
                    </span>
                </div>
            </div>
            {% endif %}
            <div class="border border-w-light-gray bg-white px-4 py-3 sm:p-6 text-neutral-800 rounded-xl">
                <div class="border-b border-w-light-gray pb-1">
                    <div class="flex items-center justify-between">
                        <span class="text-2xl font-medium" id="product_name">
                            {% if reservation.variant.product.variants.all|length == 1 %}
                            {{ reservation.variant.product.name }}
                            {% else %}
                            {{ reservation.variant.name }}
                            {% endif %}
                        </span>
                    </div>
                    <span class="font-normal text-neutral-800 text-sm opacity-50">
                        Reservation Code: {{ reservation.reservation_code }}
                    </span>
                    <div class="font-medium text-2xl pt-4" id="price">
                        ${{ reservation.total }}
                    </div>
                    <div class="flex items-center text-w-indigo gap-1 pt-2">
                        <span class="material-icons-outlined">
                            storefront
                        </span>
                        <a
                            href="{% url 'retailer-details' retailer_id=reservation.variant.product.inventory.location.retailer.id %}">
                            <span class="text-xl font-medium underline">
                                {{ reservation.variant.product.inventory.location.retailer.name }}
                            </span>
                        </a>
                    </div>
                    <div class="font-normal text-sm line-clamp-2 opacity-50 pt-2">
                        {{ reservation.variant.product.inventory.location.address1 }}
                        {% if reservation.variant.product.inventory.location.address2 %}
                        {{ reservation.variant.product.inventory.location.address2 }}
                        {% endif %}
                        {% if reservation.variant.product.inventory.location.city %}
                        {{ reservation.variant.product.inventory.location.city }}
                        {% endif %}
                        {% if reservation.variant.product.inventory.location.zip_code %}
                        {{ reservation.variant.product.inventory.location.zip_code }}
                        {% endif %}
                    </div>
                    <div class="flex items-center h-10">
                        <div class="font-normal text-sm opacity-50 text-neutral-800 pr-4">Reliability Score</div>
                        {% with product_stock=reservation.variant|calculate_reliability_score %}                     
                        {% if product_stock < 1 %} <progress class="progress-bar progress-bar-danger w-16 h-4"
                            value="33" max="100" id="score"></progress>
                            {% elif product_stock == 1 %}
                            <progress class="progress-bar progress-bar-warning w-16 h-4" value="66"
                                max="100" id="score"></progress>
                            {% else %}
                            <progress class="progress-bar progress-bar-success w-16 h-4" value="100"
                                max="100" id="score"></progress>
                            {% endif %}
                            {% endwith %}
                    </div>
                </div>
                <form action="{% url 'update-reservation' reservation_id=reservation.id %}" method="post" class="mt-2"
                    id="update_form_product">
                    {% csrf_token %}
                    {% if product_variants|length > 1 %}
                    <div class="pt-3 font-medium text-base mb-2">
                        Product variation
                    </div>
                    <!-- Tablet and Desktop variation select -->
                    <div class="hidden sm:block">
                        <div class="custom-select opacity-50 select-box" id="variation-select">
                            <select name="variation" id="variation" class="w-full disabled:border disabled:border-neutral-800 disabled:text-neutral-800
                            disabled:text-sm disabled:opacity-100 focus:ring-neutral-800 active:ring-neutral-800
                            ring-neutral-80">
                                {% for variation in product_variants %}
                                <option value="{{ variation.id }}" data-price="{{ variation.price }}" 
                                    data-name="{{ variation.name }}" data-description="{{ variation.description }}" data-stock="{{ variation|calculate_reliability_score }}">
                                    {{ variation.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="openDrawer" class="opacity-50 sm:hidden">
                        <select disabled name="variation" id="variations_mobile"
                            class=" w-full rounded-lg disabled:border disabled:border-neutral-800 disabled:text-neutral-800 disabled:text-sm disabled:opacity-100 focus:ring-neutral-800 active:ring-neutral-800 ring-neutral-800">
                            {% for variation in product_variants %}
                            {% if variation.id == reservation.variant.id %}
                            <option value="{{ variation.id }}" selected>{{ variation.name }}</option>
                            {% else %}
                            <option value="{{ variation.id }}">{{ variation.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="overlay"
                        class="fixed sm:hidden inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300 z-50">
                    </div>

                    <div id="drawer"
                        class="fixed bottom-0 left-0 w-full h-0 bg-white overflow-hidden transition-all duration-300 z-50 rounded-t-2xl sm:hidden">
                        <div class="h-full">
                            <div class="flex items-center justify-between text-w-dark-green px-6 pt-6 pb-2">
                                <span class="font-medium text-xl">Product variation</span>
                                <span class="material-icons-outlined" id="closeDrawer">
                                    close
                                </span>
                            </div>
                            <div class="px-6 space-y-5 pt-5 h-[280px]">
                                {% for variation in product_variants %}
                                <div class="radio-icon">
                                    {% if variation.id == reservation.variant.id %}
                                    <input checked value="{{ variation.id }}" type="radio" name="variation-radio"
                                        id="{{ variation.id }}_radio" class="hidden" data-price="{{ variation.price }}"
                                        data-name="{{ variation.name }}" data-stock="{{ variation.stock }}">
                                    {% else %}
                                    <input value="{{ variation.id }}" type="radio" name="variation-radio"
                                        id="{{ variation.id }}_radio" class="hidden" data-price="{{ variation.price }}"
                                        data-name="{{ variation.name }}" data-stock="{{ variation.stock }}">
                                    {% endif %}
                                    <label for="{{ variation.id }}_radio">
                                        <div class="radio-indicator"></div>
                                        <span class="font-normal text-sm text-neutral-800">{{ variation.name }}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="flex justify-center border-t px-6 py-4 border-w-primary mt-8">
                                <button type="button" onclick="applyFilter()"
                                    class="bg-w-primary text-white btn-block text-sm font-semibold capitalize border-w-light-gray rounded-full h-10">
                                    Apply
                                </button>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    <div class="card-actions justify-center gap-4 flex-col items-center pt-2 pb-1">
                        <div class="flex items-center gap-4 justify-center w-full">
                            <button type="button"
                                class="rounded-full bg-w-primary p-2 disabled:bg-w-light-gray minus-btn"
                                id="minus_product" onclick="minusBtn(this)" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6 text-white">
                                    <path fill-rule="evenodd"
                                        d="M3.75 12a.75.75 0 01.75-.75h15a.75.75 0 010 1.5h-15a.75.75 0 01-.75-.75z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                            <input type="text" name="quantity" id="quantity_product" min="1" disabled readonly max="500"
                                class="w-12 border border-neutral-800 appearance-none rounded-xl text-center text-neutral-800 disabled:bg-white disabled:border-w-light-gray disabled:text-w-light-gray"
                                value="{{ reservation.quantity }}">
                            <button type="button"
                                class="rounded-full bg-w-primary p-2 plus-btn disabled:bg-w-light-gray"
                                id="plus_product" onclick="plusBtn(this)" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6 text-white">
                                    <path fill-rule="evenodd"
                                        d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                        <button type="button" onclick="saveBtn(this)"
                            class=" bg-w-primary text-white btn-block hidden text-sm font-semibold capitalize border-w-light-gray rounded-full h-10"
                            id="save_product">
                            Save
                        </button>
                        <button type="button" onclick="editBtn(this)"
                            class=" bg-w-primary text-white btn-block  text-sm font-semibold capitalize border-w-light-gray rounded-full h-10"
                            id="edit_product">
                            Edit
                        </button>
                        <button type="button" onclick="cancelBtn(this)"
                            class=" bg-white border border-w-primary text-w-primary btn-block text-sm font-semibold capitalize rounded-full h-10"
                            id="cancel_product">
                            Cancel Reservation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="pl-4 sm:pl-11 mt-4 lg:mt-0 lg:px-6">
        <div class="flex justify-between items-center pb-3 pr-4 lg:pl-4">
            <div class="text-xl sm:text-2xl text-w-dark-green font-medium">
                More items from {{ reservation.variant.product.inventory.location.retailer.name }}
            </div>
        </div>
        <div class="relative hidden lg:block">
            <span class="absolute top-60 -left-4 hidden cursor-pointer" id="prev-button-related-items">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="w-6 h-6 text-w-secondary">
                    <path fill-rule="evenodd"
                        d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z"
                        clip-rule="evenodd" />
                </svg>
            </span>
            <span class="absolute top-60 -right-4 cursor-pointer" id="next-button-related-items">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="w-6 h-6 text-w-secondary">
                    <path fill-rule="evenodd"
                        d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </div>
        <swiper-container init="false" class="lg:px-3" id="related-items-slider">
            {% for product in related_items|slice:":16" %}
            {% if product.variants.all|length > 1 and product.min_price > 0 %}
            <swiper-slide
                class="py-2 w-[255px] sm:w-[240px] lg:w-[282px] rounded-2xl {% if forloop.last %} mr-4 sm:mr-11 lg:mr-0 {% endif %}">
                {% include "components/product_card.html" with product=product %}
            </swiper-slide>
            {% elif product.variants.first.price > 0 %}
            <swiper-slide
                class="py-2 w-[255px] sm:w-[240px] lg:w-[282px] rounded-2xl {% if forloop.last %} mr-4 sm:mr-11 lg:mr-0 {% endif %}">
                {% include "components/product_card.html" with product=product %}
            </swiper-slide>
            {% endif %}
            {% endfor %}
        </swiper-container>
    </div>
</div>
<dialog id="cancel_modal_product" class="modal">
    <div class="modal-box bg-white p-4 md:p-6 rounded-md w-11/12 lg:max-w-xl">
        <h3 class="font-medium text-neutral-800 text-2xl">Cancel reservation?</h3>
        <p class="py-2 md:pt-5 text-base text-neutral-900 font-normal">Are you sure you want to cancel this
            reservation?</p>
        <div class="modal-action gap-2">
            <button onclick="closeCancelModal(this)" id="close_product"
                class="bg-white text-sm font-semibold border-w-primary border text-w-primary capitalize px-7 py-2.5 rounded-lg"
                type="button">Cancel</button>
            <form action="{% url 'cancel-reservation' reservation_id=reservation.id %}" method="post"
                id="cancel_form_product">
                {% csrf_token %}
                <button onclick="submitCancelForm(this)" id="cancel_product_res"
                    class="bg-w-primary text-sm font-semibold border-w-primary text-white capitalize px-6 py-2.5 rounded-lg"
                    type="button">Confirm</button>
            </form>
        </div>
    </div>
</dialog>
<dialog id="update_modal_product" class="modal">
    <div class="modal-box bg-white p-4 md:p-6 rounded-md w-11/12 lg:max-w-xl">
        <h3 class="font-medium text-neutral-800 text-2xl">Save changes?</h3>
        <p class="py-2 md:pt-5 text-base text-neutral-900 font-normal">
            Are you sure you want to save the changes to this reservation?
        </p>
        <div class="modal-action gap-2">
            <button onclick="closeEditModal(this)" id="close_product"
                class="bg-white text-sm font-semibold border-w-primary border text-w-primary capitalize px-7 py-2.5 rounded-lg"
                type="button">Cancel</button>
            <button id="update_product" onclick="submitEditForm(this)"
                class="bg-w-primary text-sm font-semibold border-w-primary text-white capitalize px-6 py-2.5 rounded-lg"
                type="button">Save</button>
        </div>
    </div>
</dialog>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
<script>
    timeLimit = '{{ reservation.time_limit|date:"M j, Y H:i:s" }}';

    const variantImages = JSON.parse('{{ variants_json|safe }}')

    let currentVariant = parseInt('{{ reservation.variant.id }}')

    const noImage = '{% static "img/no-image.png" %}'
</script>
<script src="{% static 'js/shopper/reservation.js' %}"></script>
{% endblock %}