{% extends "layouts/_base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock %}

{% block container %}
<div class="max-w-7xl mx-auto pl-4 sm:pl-11 lg:px-7 mb-5">
    <div class="flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center pb-3 pr-4 lg:pl-4 w-full">
            <div class="relative w-full">
                <div class="absolute z-10 lg:-top-[5px] right-0 -top-1 lg:left-[340px] xl:left-[595px] sm:w-[600px]">
                    <div class="flex justify-end w-full">{% include "components/alert.html" %}</div>
                </div>
            </div>
    </div>
</div>

<div class="max-w-7xl mx-auto pl-4 sm:pl-11 lg:px-7">
    {% if product_wishlist|length == 0 and retailer_wishlist|length == 0 %}
    <div class="text-xl h-[50vh] flex justify-center items-center sm:text-2xl text-w-dark-green font-medium">
        You have no items in your wishlist
    </div>
    {% endif %}


    {% if product_wishlist|length > 0 %}
        <div class="flex justify-between items-center pb-3 pr-4 lg:pl-4">
            <div class="text-xl sm:text-2xl text-w-dark-green font-medium">Products you liked</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 grid-rows-auto lg:gap-3 xl:gap-6 mt-6 infinite-container-desktop h-full">
            {% for product in product_wishlist %}
            {% if product.variants.all|length > 1 and product.min_price > 0 %}
            <div class="infinite-item-desktop">
                {% include "components/product_card.html" with product=product device="desktopprod" %}
            </div>
            {% elif product.variants.first.price > 0 %}
            <div class="infinite-item-desktop">
                {% include "components/product_card.html" with product=product device="desktopprod" %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if retailer_wishlist|length > 0 %}
        <div class="divider my-5"></div>
        <div class="flex justify-between items-center pb-3 pr-4 lg:pl-4">
            <div class="text-xl sm:text-2xl text-w-dark-green font-medium">Retailers you liked</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 grid-rows-auto lg:gap-3 xl:gap-6 mt-6 infinite-container-desktop h-full">
            {% for retailer in retailer_wishlist %}
            <div class="">
                {% include 'components/list_card.html' with item=retailer %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/shopper/home.js' %}"></script>
{% endblock %}