{% extends "components/account_card.html" %}
{% load static %}

{% block card_title %}
<div class="pt-6">
    <h2 class="card-title text-[32px] font-medium">Forgot password?</h2>
</div>
{% endblock %}

{% block card_subtitle %}
Don't worry, we will send you reset instructions to your associated email
{% endblock %}

{% block card_body %}
<form method="POST">
    {% csrf_token %}
    <div class="form-control">
        <label for="email" class="label font-normal text-sm px-3 pb-1">Email*</label>
        <div class="flex justify-end items-center align-middle relative">
            <input type="email" placeholder="you@example.com" name="email" id="id_email"
                class="input bg-white input-bordered h-10 border-neutral-800 w-full text-sm" />
        </div>
        <span class="message hidden text-red-500 font-normal text-xs pt-2 px-3">Please, make sure to enter a valid email
            address.</span>
    </div>
    <div class="form-control pt-6">
        <button disabled type="submit"
            class="disabled:bg-w-light-gray bg-w-primary text-white btn-block disabled:text-neutral-400 text-sm font-semibold capitalize border-w-light-gray rounded-full h-10">Reset
            Password</button>
    </div>
</form>
{% endblock %}
{% block card_icon %}
<div class="absolute -top-3 left-1/2 transform -translate-x-1/2 -mt-4 z-10">
    <div class="p-3 bg-w-primary rounded-full">
        <img src="{% static 'img/icons/icon-key.svg' %}" alt="logo" class="h-8" </div>
    </div>
</div>
{% endblock %}

{% block info %}
<div class="text-sm font-normal text-neutral-800 text-center pt-4">
    <a href="{% url 'login' %}" class="text-w-blue font-medium">Back to log In</a>
</div>
{% if messages %}
{% for message in messages %}
<div class="flex justify-center mt-3">
    <div class="w-full md:w-2/3 lg:w-1/2">
        {% include "components/alert.html" with messages=messages %}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="{% static 'js/accounts/forgot_password.js' %}"></script>

{% endblock %}