{% extends "components/account_card.html" %}
{% load static %}


{% block card_title %}
<h2 class="card-title text-[32px] font-medium pt-6">
    {% if validlink %}
    Set new password
    {% else %}
    <span class="pb-3">Invalid link</span>
    {% endif %}
</h2>
{% endblock %}

{% block card_subtitle %}

{% if validlink %}
Choose a new password, remember to meet the minimum requirements.
{% else %}
The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
{% endif %}
{% endblock %}

{% block card_body %}
{% if validlink %}
<form method="post" class="space-y-2">
    {% csrf_token %}

    <div class="form-control">
        <label for="name" class="label font-normal text-sm px-3 pb-1">Password*</label>
        <div class="flex justify-end items-center align-middle relative">
            <input type="password" placeholder="At least 8 characters" name="new_password1" id="id_new_password1"
                class="input bg-white input-bordered h-10 border-neutral-800 w-full text-sm" />
            <img src="{% static 'img/icons/icon-eye-hide.svg' %}" class="absolute w-6 mr-2 cursor-pointer eye-icon" />
        </div>
        <span class="message hidden text-red-500 font-normal text-xs pt-2 px-3">Please, enter a valid password.</span>
        <div class="font-normal text-xs px-3 pt-1">
            Minimum 8 characters with at least 1 capital letter, 1 lowercase letter and 1 number.
        </div>
    </div>
    <div class="form-control">
        <label for="name" class="label font-normal text-sm px-3 pb-1">Confirm Password*</label>
        <div class="flex justify-end items-center align-middle relative">
            <input type="password" placeholder="At least 8 characters" name="new_password2" id="id_new_password2"
                class="input bg-white input-bordered h-10 border-neutral-800 w-full text-sm" />
            <img src="{% static 'img/icons/icon-eye-hide.svg' %}" class="absolute w-6 mr-2 cursor-pointer eye-icon" />
        </div>
        <span class="message hidden text-red-500 font-normal text-xs pt-2 px-3">Please, make sure your passwords
            match.</span>
    </div>
    <div class="form-control pt-6">
        <button disabled type="submit"
            class="disabled:bg-w-light-gray bg-w-primary text-white btn-block disabled:text-neutral-400 text-sm font-semibold capitalize border-w-light-gray rounded-full h-10">Set
            new password</button>
    </div>
</form>
{% endif %}
{% endblock %}

{% block card_icon %}
<div class="absolute -top-3 left-1/2 transform -translate-x-1/2 -mt-4 z-10">
    <div class="p-3 bg-w-primary rounded-full">
        <img src="{% static 'img/icons/icon-key.svg' %}" alt="logo" class="h-8" </div>
    </div>
</div>
{% endblock %}

{% block info %}
<div class="text-sm font-normal text-neutral-800 text-center pt-4">
    {% if condition %}
    <a href="{% url 'login' %}" class="text-w-blue font-medium">Back to log In</a>
    {% else %}
    <a href="{% url 'forgot_password' %}" class="text-w-blue font-medium">Back to Forgot Password</a>
    {% endif %}
</div>
{% if messages %}
{% for message in messages %}
{% if message.extra_tags == "error" %}
<div class="lg:px-20 pt-3">
    <div class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 close cursor-pointer" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ message }}</span>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script>
    const showPasswordIcon = {
        show: "{% static 'img/icons/icon-eye-show.svg' %}",
        hide: "{% static 'img/icons/icon-eye-hide.svg' %}"
    }
</script>
<script src="{% static 'js/accounts/password_reset.js' %}"></script>

{% endblock %}